.nav{
  height: 10vh;
  text-align: center;
  background-color: rgb(116, 180, 124);
}

html{
  background-color: rgba(116, 180, 124, 0.233)
}

.navItem{
  margin-top: 5px;
  padding: 20px 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  color: black;
}

.navItem:hover{
  background-color: rgb(71, 134, 79);
  color: white;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}

.pointActions{
  margin-top: 20px;
  text-align: center;
}

.heatActions{
  margin-top: 20px;
  text-align: center;
}

button{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(116, 180, 124);
  color: black;
  cursor: pointer;
}

button:hover{
  background-color: rgb(71, 134, 79);
  color: white;
}
